@import 'https://fonts.googleapis.com/css?family=Montserrat';

.base {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.fade {
	-webkit-opacity: 0;
	-mos-opacity: 0;
	opacity: 0;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.fadein {
	-webkit-opacity: 1;
	-mos-opacity: 1;
	opacity: 1;
}